@using LiGrow.Blazor.MenuDigital.Web.Models
@inherits LayoutComponentBase

<div class="page">
   <div class="sidebar">
      <NavMenu />
   </div>

   <main>
      <div>
         @*
         Botão de login
         *@
      </div>

      @{
         List<CategoryItem> categorias = WebApiCall.Category.ObterLista().GetAwaiter().GetResult();
      
         if (categorias != null)
         {
            <ul class="top-menu-categorias nav sticky-top">
               @foreach (var categoria in categorias)
               {
                  <li class="nav-item">
                     <a href="#categoria_@categoria.id">@categoria.name</a>
                  </li>
               }
            </ul>
         }
      }

      <article class="content px-4">

         @Body
      </article>
   </main>
</div>

<div id="blazor-error-ui">
   An unhandled error has occurred.
   <a href="" class="reload">Reload</a>
   <a class="dismiss">🗙</a>
</div>
