<div class="top-row navbar navbar-dark">
   <div class="container-fluid">
      <a class="navbar-brand" href="/menu">
          <img src="/assets/images/logo.png" alt="Tinella" />
      </a>
   </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
   <nav class="flex-column">
      <div class="nav-item px-3">
         <NavLink class="nav-link" href="menu" Match="NavLinkMatch.All">
            <i class="fa-solid fa-utensils"></i> Início
         </NavLink>  
      </div>

      <div class="nav-item px-3">
         <NavLink class="nav-link" href="https://www.google.com/maps/reserve/v/dine/c/bf1Zx5dqpHc" target="_blank">
            <i class="fa-solid fa-calendar-days"></i> Reserve uma mesa
         </NavLink>
      </div>

      <div class="nav-item px-3">
         <NavLink class="nav-link" href="https://search.google.com/local/writereview?placeid=ChIJ3RJac4tYIg0RBs2tHL_TDtI" target="_blank">
            <i class="fa-regular fa-face-smile"></i> Feedback
         </NavLink>
      </div>
   </nav>
</div>

