<div class="lista-categorias">
   <div class="categoria">
      <h2 class="titulo">Petiscos</h2>
      <div class="lista-menu">
         <div class="lista-menu-item">
            <a href="/produto/tabua-mediteranea">
               <img src="/assets/images/menu/Tinela-27.jpg" alt="Foto de comida" />
            </a>
            <a href="/produto/tabua-mediteranea">
               <div class="informacoes">
                  <h5 class="titulo">Tábua Mediterrânea</h5>
                  <p class="descritivo">Pão, Queijo da Serra e presunto curado 12 meses</p>
                  <span class="preco text-muted">26.00€</span>
               </div>
            </a>
         </div>
         <div class="lista-menu-item">
            <a href="/produto/tabua-mediteranea">
               <img src="/assets/images/menu/Tinela-26.jpg" alt="Foto de comida" />
            </a>
            <a href="/produto/tabua-mediteranea">
               <div class="informacoes">
                  <h5 class="titulo">Tábua Mediterrânea</h5>
                  <p class="descritivo">Pão, Queijo da Serra e presunto curado 12 meses</p>
                  <span class="preco text-muted">26.00€</span>
               </div>
            </a>
         </div>
      </div>
   </div>

   <div class="categoria">
      <h2 class="titulo">Especiais</h2>
      <p class="descritivo text-muted">Para gostos mais requintados</p>
      <div class="lista-menu">
         <div class="lista-menu-item">
            <a href="/produto/cabrito-assado">
               <img src="https://placehold.co/150x150/000000/FFFFFF?text=Foto+de+cabrito" alt="Foto de cabrito" />
            </a>
            <a href="/produto/cabrito-assado">
               <div class="informacoes">
                  <h5 class="titulo">Cabrito assado</h5>
                  <p class="descritivo">Arroz de Miúdos, Batata Assada e Grelos</p>
                  <span class="preco text-muted">26.00€</span>
               </div>
            </a>
         </div>
      </div>
   </div>
</div>

@code {

}
