.produto-detalhe-container {
    max-width: 700px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--main-background-color);
    border-radius: 0.5rem;
}

    /*.produto-detalhe-container img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }*/

    .produto-detalhe-container .informacoes {
        margin: 10px 15px 0px 15px;
    }

.carousel-w-thumbnails .thumnails-preview {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 5px;
}

    .carousel-w-thumbnails .thumnails-preview button {
        width: 100px !important;
        padding: 0px;
        outline: none;
        border: none;
        margin: 5px;
    }

    .carousel-w-thumbnails .thumnails-preview button:active {

    }